<div id="post">
  <div class="header underline">
    <h1 class="title text-center">
      <%= page.title %>
    </h1>
    <div class="clearfix">
      <div class="right text-grey">
        <time datetime="<%= date_xml(page.date) %>" itemprop="datePublished"><%= date(page.date, null) %></time>
      </div>
    </div>
  </div>
  <div class="underline">
    <div class="article-entry">
      <%- page.content %>
    </div>
    <% if (page.tags && page.tags.length){ %>
      <div class="tags">
        <span><%= __("Tags") %>:</span>
        <%- list_tags(page.tags, {
          show_count: false,
          class: 'tag'
        }) %>
      </div>
    <% } %>
  </div>
  <div class="footer">
    <div class="clearfix" >
      <div class="text-center">
        <% if (page.prev){ %>
          <a href="<%- url_for(page.prev.path) %>" class="" tooltip="<%= page.prev.title || __("no title") %>">
            <%= page.prev.title || __("no title") %>
          </a>
        <% } %>
        <span>&nbsp;|&nbsp;</span>
        <a href="<%- config.root %>"><%= __("HOME") %></a>
        <span>&nbsp;|&nbsp;</span>
        <% if (page.next){ %>
          <a href="<%- url_for(page.next.path) %>" class="" tooltip="<%= page.next.title || __("no title") %>">
            <%= page.next.title || __("no title") %>
          </a>
        <% } %>
      </div>
    </div>
  </div>
</div>

