<%- partial('header') %>
<div id="main" class="clearfix">
  <div id="list" class="left">
    <div class="header">
      <h2 class="title underline text-bold"><%= title %></h2>
      <%- partial('_partial/search') %>
    </div>
    <%- partial('_partial/list') %>
    <%- partial('_partial/pagination') %>
  </div>
  <div id="sidebar" class="right">
    <%- partial('_partial/sidebar') %>
  </div>
</div>
<%- partial('footer') %>