<% if (page.prev || page.next){ %>
  <div id="pagination" class="clearfix">
    <div class="left">
      ( <%- page.current %> / <%- page.total %> )
    </div>
    <div class="right">
    <% if (page.prev){ %>
      <a data-pjax href="<%- url_for(page.prev_link) %>"><%= __('PREV') %></a>
    <% } %>
    <% if (page.prev && page.next){ %>
      <span>&nbsp;|&nbsp;<span>
    <% } %>
    <% if (page.next){ %>
      <a data-pjax href="<%- url_for(page.next_link) %>"><%= __('NEXT') %></a>
    <% } %>
    </div>
  </div>
<% } %>